    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}} | {{site.title}}</title>
    <meta name="description" content="{{ description }}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{assets}}/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{assets}}/css/superslides.css">
    <link rel="stylesheet" href="{{assets}}/css/style.css">
    <link rel="stylesheet" href="{{assets}}/css/icons.css">
    <link rel="stylesheet" href="{{assets}}/css/animate.min.css">
    <link rel="stylesheet" href="{{assets}}/css/blue.css" class="colors">
    <link rel="stylesheet" href="{{assets}}/css/drumhut.css">

    <link rel="shortcut icon" href="{{assets}}/img/ico/32pxb.png" sizes="32x32" type="image/png"/>
    <link rel="apple-touch-icon-precomposed" href="{{assets}}/img/ico/60.png" type="image/png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{assets}}/img/ico/72.png" type="image/png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{assets}}/img/ico/120.png" type="image/png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{assets}}/img/ico/152.png" type="image/png"/>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<!-- Snipcart -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

	<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="YTQ3ZmNmZmItZTVlMS00NDYzLWE4MDQtZmYyYjNhNTBjZTE3NjM2MTEwMjU2MzA5NjUxMTY0"></script>

	<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />

