    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{#if title}}{{title}} | {{/if}}{{site.title}}</title>
    <meta name="description" content="{{ description }}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{assets}}/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{assets}}/css/superslides.css">
    <link rel="stylesheet" href="{{assets}}/css/style.css">
    <link rel="stylesheet" href="{{assets}}/css/icons.css">
    <link rel="stylesheet" href="{{assets}}/css/animate.min.css">
    <link rel="stylesheet" href="{{assets}}/css/blue.css" class="colors">
    <link rel="stylesheet" href="{{assets}}/css/drumhut.css">

    <link rel="shortcut icon" href="{{assets}}/img/ico/32pxb.png" sizes="32x32" type="image/png"/>
    <link rel="apple-touch-icon-precomposed" href="{{assets}}/img/ico/60.png" type="image/png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{assets}}/img/ico/72.png" type="image/png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{assets}}/img/ico/120.png" type="image/png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{assets}}/img/ico/152.png" type="image/png"/>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<!-- Cookie Consent by https://www.FreePrivacyPolicy.com -->
<script type="text/javascript" src="//www.FreePrivacyPolicy.com/cookie-consent/releases/3.0.0/cookie-consent.js"></script>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function () {
    cookieconsent.run({"notice_banner_type":"interstitial","consent_type":"express","palette":"dark","change_preferences_selector":"#changePreferences","language":"en","website_name":"The Drum Hut"});
});
</script>

<!-- Matomo -->
<!-- Matomo -->
<script type="text/plain" cookie-consent="tracking">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://thedrumhut.matomo.cloud/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
<!-- end of Matomo-->

<!-- Snowplow -->
<script type='text/javascript'>
;(function(p,l,o,w,i,n,g){if(!p[i]){p.GlobalSnowplowNamespace=p.GlobalSnowplowNamespace||[];
p.GlobalSnowplowNamespace.push(i);p[i]=function(){(p[i].q=p[i].q||[]).push(arguments)
};p[i].q=p[i].q||[];n=l.createElement(o);g=l.getElementsByTagName(o)[0];n.async=1;
n.src=w;g.parentNode.insertBefore(n,g)}}(window,document,'script','//d1fc8wv8zag5ca.cloudfront.net/2.5.3/sp.js','snowplow'));
window.snowplow('newTracker', 'cf', 'events.fivetran.com/snowplow/jumble_technically', { // Initialize a tracker
  appId: 'TDH Website ,
  cookieDomain: null
});
window.snowplow('trackPageView');
</script>
<!-- end of Snowplow>

<noscript>GDPR Cookie Consent by <a href="https://www.freeprivacypolicy.com/">FreePrivacyPolicy</a></noscript>
<!-- End Cookie Consent -->

	
<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="YTQ3ZmNmZmItZTVlMS00NDYzLWE4MDQtZmYyYjNhNTBjZTE3NjM2MTEwMjU2MzA5NjUxMTY0"></script>
	
<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />

<script>
    Snipcart.subscribe('cart.ready', function() {
        Snipcart.api.cart.metadata({
            "UserID": 429308,
            "Version": '2.0',
            "ApiKey": 'FgowQfbjuE'
        });
    });
</script>
	
	
	

	

