<!DOCTYPE html>
<html ng-app="storeApp">
  <head>
    
  {{> global-head }}

  </head>

  <body id="home">

    {{> global-header }}

   <!--<section class="hero-image-bg light-typo welcome-section">
        <div class="overlay-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center wow fadeInUp">                                 

                </div>
            </div>
        </div>
    </section>-->

    <div class="wrapper">

      <section class="padding-top-bottom" >
          <div class="container" style="padding-top:40px">
              <div class="row">
				<div class="flexBox">
                  <div class="col-xs-12 col-sm-4 a wow fadeInLeft text-center">
                      <header class="section-header cta-message">
                          <h1>{{ name }}</h1>
                          {{#if sold}}
						  <h3>SOLD</h3>
						  {{else}}
						  <h3>{{ price }}</h3>
						  {{/if}}
                          <h4>Height: {{ height }}</h4>
            						  <h4>Diameter: {{ diameter }}</h4>
            						  <h4>Wood: {{ wood }}</h4>
									  <h4>Weight: {{weight}}</h4>
            						  <h4>Skin: {{ skin }}</h4>
            						  <h4>Finish: {{ finish }}</h4>						   
                        </header>
            					  <p>{{{ description }}}</p>
                        <div class="small">
            					     <p>{{ description2 }}</p>
					             </div>
								 
								 </div>
						
			  	 <div class="col-xs-12 hidden-xs col-sm-4 b fadeInLeft text-center" {{#if video}} style="margin-top:120px"{{/if}}>			  
						
						
                       					   
					   <a href="mailto:crispy@thedrumhut.co.uk?Subject=Djembe: {{ name }}" class="btn btn-primary" style="margin:5px">Enquire</a>
						 {{#unless sold}}
						 <br>
						 <a href="{{{etsy-link}}}" class="btn btn-primary" style="margin:5px"><font size="4.5em">Buy on Etsy</font></a>			
						 {{/unless}}
						 
						 
			   </div>
			   
			   <div class="col-xs-12 visible-xs col-sm-4 b fadeInLeft text-center">			  
						
						
                       					   
					   <a href="mailto:crispy@thedrumhut.co.uk?Subject=Djembe: {{ name }}" class="btn btn-primary" style="margin:5px">Enquire</a>
						 {{#unless sold}}
						 <br>
						 <a href="{{{etsy-link}}}" class="btn btn-primary" style="margin:5px"><font size="4.5em">Buy on Etsy</font></a>			
						 {{/unless}}
						 
						 
			   </div>
              	
								

                       
                  
                  <div class="col-xs-12 col-sm-8 c cta-message wow fadeInRight text-center">
                      <div class="slide-wrapper" id="product-slides-container">
                         <div id="product-slides" data-length="{{ images.length }}">
                            <div class="slides-container">
                                {{#each images}}														
                                <img src="{{../assets}}/{{.}}" alt="" class="slide-wrapper__image img-rounded">								
                                {{/each}}
                            </div>
                        </div>
                      </div>
                      {{> body }}
					  </div>
					  <div class="clearfix"></div>
					 		
			  
			  {{#if video}}
				<div class="col-xs-12 col-sm-6 col-sm-offset-1 d fadeInRight padding-left padding-right">
					{{{ videoCode }}}
				</div>
					<div class="clearfix"></div>
				{{/if}}
				
				</div>
			 </div>
			  
			  
      </section>
	</div>
    </div>

    {{> global-footer }}

    {{> global-scripts }}

  </body>
</html>

