---

title: Accessories
heading: ACCESSORIES
lead: All things djembe related

layout: products.hbs

showInNav: true
navOrder: 4

---

<p>Pellentesque interdum eget odio eu rutrum. Nunc tempus massa a tellus aliquet sodales. Nunc urna tortor, rhoncus accumsan vestibulum non, feugiat a mauris. In hac habitasse platea dictumst. In sagittis orci nec aliquet tristique.</p>

{{#each accessories}}
<article class="design product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
    <div class="img-box">
        <div class="hover-mask2"></div>
        <span class="product-icon icon-eye"></span>
        <img class="img-responsive project-image" src="{{../assets}}{{ data.thumb }}" alt="">
    </div>
    <div class="product-info col-md-12">
        <p class="project-price">{{ data.price }}</p>
        <div>
            <h4 class="project-title"><a href="{{ filename }}.html">{{ data.name }}</a></h4>
        </div>
    </div>
    <div class="sr-only project-description" data-images="{{ data.images }}">
        {{ content }}
    </div>
</article> 
{{/each}}