---

title: Demos
heading: DEMO VIDEOS
description: You can hear all of The Drum Hut's djembes here - because you should never buy a djembe without hearing it first!
lead: Because you should never buy a djembe without hearing it first!

layout: non-products.hbs

showInNav: true
navOrder: 5

---

	<center><h3 style="font-weight:bold">Premium Djembes</h3></center>
        <div class="row" style="padding-top:20px">
            
            {{#each djembes}}
			{{#if data.guinea}}
            {{#if this.data.videoCode}}
            <article class="design product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
				{{{ this.data.videoCode }}}
				<h4><a href="./{{filename}}.html">{{data.name}}</a></h4>
            </article>
			{{/if}}
            {{/if}}
            {{/each}}

        </div>
		
		<center><h3 style="font-weight:bold">Mali Djembes</h3></center>
        <div class="row" style="padding-top:20px">
            
            {{#each djembes}}
			{{#if data.mali}}
            {{#if this.data.videoCode}}
            <article class="design product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
				{{{ this.data.videoCode }}}
				<h4><a href="./{{filename}}.html">{{data.name}}</a></h4>
            </article>
			{{/if}}
            {{/if}}
            {{/each}}

        </div>
    
	
	
	<center><h3 style="font-weight:bold">Beginner and Intermediate Djembes</h3></center>
        <div class="row" style="padding-top:20px">
            
            {{#each djembes}}
			{{#unless data.guinea}}
			{{#unless data.mali}}
            {{#if this.data.videoCode}}
            <article class="design product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
				{{{ this.data.videoCode }}}
				<h4><a href="./{{filename}}.html">{{data.name}}</a></h4>
            </article>
			{{/if}}
			{{/unless}}
            {{/unless}}
            {{/each}}

        </div>
