---

title: Sound Demos
heading: DEMOS
lead: Because you should never buy a djembe without hearing it first!

layout: non-products.hbs

showInNav: true
navOrder: 5

---
<section id="demos"> 
        <div class="container text-center">
	<h3>Premium Djembes</h3>
        <div id="projects-container" class="row" style="padding-top:20px">
            
            {{#each djembes}}
			{{#if data.featured}}
            {{#if this.data.videoCode}}
            <article class="design product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
				{{{ this.data.videoCode }}}
				<h4><a href="./{{filename}}.html">{{data.name}}</a></h4>
            </article>
			{{/if}}
            {{/if}}
            {{/each}}

        </div>
    </div>
	
	<div class="container text-center">
	<h3>Beginner and Intermediate Djembes</h3>
        <div id="projects-container" class="row" style="padding-top:20px">
            
            {{#each djembes}}
			{{#unless data.featured}}
            {{#if this.data.videoCode}}
            <article class="design product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
				{{{ this.data.videoCode }}}
				<h4><a href="./{{filename}}.html">{{data.name}}</a></h4>
            </article>
			{{/if}}
            {{/unless}}
            {{/each}}

        </div>
</section>