---

title: Home
heading: 'The Drum Hut'
lead:  Website currently under testing and construction. Please enquire in person for accurate, up-to-date information.

layout: home.hbs

showInNav: true
navOrder: 1
---

<section id="hero" class="light-typo ">
    <div class="container welcome-content">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center wow fadeInUp">
                <img id="logo" src="{{assets}}/img/drumhut-logo-white.png" class="img-responsive text-center" alt="drumhut logo" width="100%">                
                <h2>{{ lead }}<!--West African Percussion ((IN h3 tags!))--></h2>
                <ul class="social-links text-center">
					<li><a href="#djembes" class="smooth-scroll" alt="Djembes"><img src="{{assets}}/img/Djembe Icon 5.png" style="margin-top:8px; margin-left:0px"></img></a></li>
                    <!--<li><a href="#dunun" class="smooth-scroll" alt="Dunun"><img src="{{assets}}/img/Dunun Icon 3.png" style="margin-top:8px"></img></a></li>
						<li><a href="#accessories" class="smooth-scroll" alt="Accessories"><img src="{{assets}}/img/accessories.png" style="margin-top:8px"></img></a></li>-->
					<li><a href="#sound" class="smooth-scroll" alt="Sound Demos"><i style="opacity:0.7" class="icon-youtube"></i></a></li>					
                </ul>
            </div>
        </div>
    </div>
    <div class="overlay-bg"></div>
    <div id="hero-slides">
        <div class="slides-container">
			<img src="{{assets}}/img/sierpinski2.jpg" alt="">
            <img src="{{assets}}/img/djembebanner.jpg" alt="">                        
			<img src="{{assets}}/img/ramanujan2.jpg" alt="">
			<img src="{{assets}}/img/escher-carving.jpg" alt="">
        </div>
    </div>
</section>

<section id="djembes" class=" padding-top-bottom">
    <div class="container">
        <header class="section-header text-center wow fadeInUp">
            <h2>Djembes</h2>
			<p>A selection of our Premium djembes. Take a look at our <a href="/djembes">Djembes page</a> to see everything we have in stock.</p>
        </header>
    </div>
    <div class="container">
        <div id="projects-container" class="row">
            
            {{#each djembes}}
			{{#if data.featured}}
            <article class="design product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
				{{> product-link this }}
            </article> 
            {{/if}}
			{{/each}}

        </div>		
		<center><a href="/djembes.html" class="btn btn-primary"><font size="4em">See The Whole Range</font></a></center>
    </div>

</section>

<!--
<section id="dunun" class="gray-bg padding-top-bottom ">
 <div class="container">
        <header class="section-header text-center wow fadeInUp">
            <h2>Dunun</h2>
        </header>
    </div>
    <div class="container">
        <div id="projects-container" class="row">
            
            {{#each dunun}}
            <article class="design product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
				{{> product-link this }}
            </article> 
            {{/each}}

        </div>
    </div>


</section>

<section id="accessories" class="padding-top-bottom ">
 <div class="container">
        <header class="section-header text-center wow fadeInUp">
            <h2>Accessories</h2>
        </header>
    </div>
    <div class="container">
        <div id="projects-container" class="row">
            
            {{#each accessories}}
            <article class="design product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
				{{> product-link this }}
            </article> 
            {{/each}}

        </div>
    </div>


</section>
-->

<section id="sound" class="gray-bg padding-top-bottom ">
 <div class="container">
        <header class="section-header text-center wow fadeInUp">
            <h2>Sound Demos</h2>
        </header>
    </div>
    <div class="container">
        <div id="projects-container" class="row">
            
            {{#each djembes}}
            {{#if this.data.videoCode}}
            <article class="design product col-xs-12 col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
				{{{ this.data.videoCode }}}
				<h4><a href="./{{filename}}.html">{{data.name}}</a></h4>
            </article> 
            {{/if}}
            {{/each}}

        </div>
    </div>
</section>


<section id="About" class="light-typo nice-blue padding-top-bottom">
    <div class="container ">
        <header class="section-header text-center">
            <h2><img src="{{assets}}/img/drumhut-logo-white.png" width="300px"></h2>			
        </header>
		<center><p>The Drumhut is owned and run by me, Matthew Crisp, and the company was born of my desire to bring a reliable source of top quality Guinean djembes and dunun to the UK.</p>

<p>Edinburgh is The Drumhut's home, but I ship all of our products across the UK, and will soon be offering our products to the EU. The professional level djembes we stock are from Conakry in Guinea and are carved by the exceptionally talented Alseny Camara. Each djembe is a work of art unto itself. They're skinned here in Scotland using the highest quality skins from Mali and Guinea and racing-spec yacht rope, meaning that these are amongst highest quality instruments of their type on the planet.</p>

<p>We also stock a range of more budget djembes for those not yet ready to buy the best. But rest assured, they're all skinned and finished with the same skill, care and attention as the professional djembes.</p>
    </center></div>
</section>  