---

title: Repairs & Custom Djembes
heading: Repairs & Custom Djembes
lead: Bringing life to your djembe

layout: non-products.hbs 

showInNav: true
navOrder: 5

---
<section id="repairs" class="col-sm-6 gray-bg">
	<div class=" text-center">
		<h1 style="font-weight:bold">Repairs</h1>


		<p>If your skin has popped or you just want a new round of fancy rope put on your djembe, look no further than The Drum Hut. I'll repair and refinish your djembe in style!<br><br>Make yourself a quote by following the guide below and if you're not sure exactly what you're after, don't hesitate to <a href="./contact.html">get in touch</a> and we can talk about the options.</p>

		
	</div>
</section>
<section id="custom" class="col-sm-6 gray-bg">
	<div class=" text-center">
		<h1 style="font-weight:bold">Custom Djembes</h1>
		<p>Everything you that's available for djembe repairs is also avilable as a custom option for any of The Drum Hut's djembes shells. It'll all cost the same too. The prices quoted on the <a href="./djembes.html">djembes page</a> are for djembes skinned with goat skin, standard rope and finished with a clean cut finish. The cost for the other finishes are given below and High Quality Rope will add an extra £1 per crown knot (typically £30). Calf skin will add £15 and deer skin will add £25.</p>
	</div>
</section>
<center><p style="font-size:1.2em; font-weight:bold"> See the gallery at the bottom of this page for images of all the options.</p></center>
<section id="prices" class="col-xs-12 light-typo dark-bg img-rounded" style="margin-bottom:15px">

<div class="text-center">
<h1 style="font-weight:bold">Prices</h1>
	<div class="row">
		<div class="col-xs-4">
		<h2>Goat Skin</h2>
		<h2>£75</h2>	
		</div>
		<div class="col-xs-4">
		<h2>Calf Skin</h2>
		<h2>£90</h2>
		</div>
		<div class="col-xs-4">
		<h2>Deer Skin</h2>
		<h2>£100</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h2>Plus Some Optional Extras</h2><p>High Quality Rope: £2.50 x number of crown knots<br>Standard Rope: £1.50 x number of crown knots<br>Smooth Skin Fold-Over: £25<br>Hairy Skin Fold-Over: £25<br>Skin Twist Finish: £10<br>Standard Clean Cut Finish: Free<br>Wood Refinish: £50<br>New Rings: £tba<br>Crack Repair: £15-30 Depending on severity of crack</p>
		</div>
	</div>
</div>
</section>

<div class="clearfix"></div>

<div class="row wow fadeInUp text-center">
	<article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" style="padding-top:10px padding-bottom:10px">
	<img src="{{assets}}/img/slides/ramanujan-ropes.jpg" class="img-rounded" style="width:100%"></img><p>High Quality Rope</p>
	</article>
	<article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" style="padding-top:10px padding-bottom:10px">
	<img src="{{assets}}/img/slides/black-rope.jpg" class="img-rounded" style="width:100%"></img><p>Standard Black Rope</p>
	</article>
	<article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" style="padding-top:10px padding-bottom:10px">
	<img src="{{assets}}/img/slides/sierpinski2.jpg" class="img-rounded" style="width:100%"></img><p>Smooth Skin Fold-Over</p>
	</article>
	<article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" style="padding-top:10px padding-bottom:10px">
	<img src="{{assets}}/img/slides/hairy-fold-over.jpg" class="img-rounded" style="width:100%"></img><p>Hairy Skin Fold-Over</p>
	</article>
	<article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" style="padding-top:10px padding-bottom:10px">
	<img src="{{assets}}/img/slides/ramanujan2.jpg" class="img-rounded" style="width:100%"></img><p>Skin Twist Finish</p>
	</article>
	<article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" style="padding-top:10px padding-bottom:10px">
	<img src="{{assets}}/img/slides/clean-cut.jpg" class="img-rounded" style="width:100%"></img><p>Clean Cut Finish</p>
	</article>
	<article class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 wow fadeInUp" style="padding-top:10px padding-bottom:10px">
	<img src="{{assets}}/img/slides/mandelbrot-grain.jpg" class="img-rounded" style="width:100%"></img><p>Wood Refinish</p>
	</article>

</div>

